<%- include('partials/header', { title: "Profile" }) %>

<div class="main-content">
  <h1><%= name %>'s Profile</h1>

  <h2>Polls Voted:</h2>
  <% if (pollsVotedCount === 0) { %>
  <p>You haven't voted on any polls yet.</p>
  <% } else { %>
  <p>
    You have voted in <%= pollsVotedCount %> poll<%= pollsVotedCount > 1 ? 's' :
    '' %>.
  </p>
  <ul class="polls-voted-list">
    <% polls.forEach((poll) => { %>
    <li>
      <a href="/dashboard" class="poll-link"><%= poll.question %></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</div>

<script>
  const userId = "<%= userId %>";
  console.log("Polls:", JSON.stringify(polls));
</script>
